{% extends 'layout.html' %}

{% block content %}
  <div class="timeline">
    <div class="nick-form">
      <input type="text" name="nick" placeholder="변경할 닉네임 입력">
      <button id="nick-change-btn" class="btn">변경하기</button>
    </div>
    <div class="followings half">
      <h2>팔로잉 목록</h2>
      {% if user.Followings %}
        {% for following in user.Followings %}
          <div>
            <input type="hidden" value="{{following.id}}" class="following-user-id">
            {{following.nick}} 
            <button class="twit-unfollow">언팔하기</button>
          </div>
        {% endfor %}
      {% endif %}
    </div>
    <div class="followers half">
      <h2>팔로워 목록</h2>
      {% if user.Followers %}
        {% for follower in user.Followers %}
          <div>{{follower.nick}}</div>
        {% endfor %}
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block script %}
  <script>
    document.querySelectorAll('.twit-unfollow').forEach(function(tag) {
      tag.addEventListener('click', function() {
        const following_user_id = tag.parentNode.querySelector('.following-user-id').value
        
        if(confirm('언팔하시겠습니까?')) {
          axios.post(`/user/${following_user_id}/unfollow`)
            .then(() => {
              location.reload()
            }).catch((err) => {
              console.error(err);
            });
        }
      })
    })
    document.querySelector('#nick-change-btn').addEventListener('click', function() {
        const myId = document.querySelector('#my-id').value;
        const nick = document.querySelector('.nick-form input[name="nick"]').value;
        
        if(confirm('변경하시겠습니까?')) {
          axios.patch(`/user/${myId}/nick`, {'nick' : nick})
            .then(() => {
              location.reload()
            }).catch((err) => {
              console.error(err);
            });
        }
      })
  </script>
{% endblock %}
